name: quality-gate
on:
  pull_request:
    branches: [ master ]
jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    steps:
      - name: skip-check
        run: echo "⚠️ Global gate satisfied. Service-specific checks may still be running if code was changed."
