name: Notification Service CI

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'src/backend/notification-service/**'
      - '.github/workflows/notification-service-ci.yml'
      - '.github/workflows/templates/template-dotnet-ci.yml'

jobs:
  ci:
    uses: ./.github/workflows/templates/template-dotnet-ci.yml
    with:
      service_name: 'NotificationService'
      project_path: 'src/backend/notification-service'
      coverage_threshold: 80
