name: Notification Service CI

on:
  pull_request:
    branches: [ master ]

jobs:
  ci:
    uses: ./.github/workflows/template-dotnet-ci.yml
    with:
      service_name: 'NotificationService'
      project_path: 'src/backend/notification-service'
      coverage_threshold: 80
